body {
  font-family: "Quicksand", sans-serif;
  background: #10495e;
  padding-bottom: 50px;
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.section_div {
  width: 100%;
  padding: 50px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.caldiv {
  border-radius: 5px;
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.5);
  overflow: hidden;
}
.caltop {
  display: flex;
  flex-direction: column;
  text-align: right;
  min-height: 180px;
  background-color: #fff;
}

.caltoptext1 {
  flex-grow: 1;
  min-height: 80px;
  padding: 20px;
  font-size: 20px;
  word-break: break-all;
}
.caltoptext2 {
  flex-shrink: 0;
  padding: 20px;
  font-size: 40px;
  word-break: break-all;
}
.calbot {
  background-color: #1d2325;
}
.calbotinn ul {
  display: flex;
  flex-wrap: wrap;
}
.calbotinn li {
  flex-basis: 25%;
  /* border: 1px solid rgba(255, 255, 255, 0.1); */
}
.calbotinn li input {
  color: #fff;
  background: none;
  border: none;
  outline: none;
  text-align: center;
  padding: 20px 0;
  width: 100%;
  font-size: 25px;

  transition: all 0.3s;
}

.calbotinn li input:hover {
  background-color: #111516;
  transition: all 0.3s;
}

.calbotinn li:nth-child(3),
.calbotinn li:nth-child(4),
.calbotinn li:nth-child(8),
.calbotinn li:nth-child(12),
.calbotinn li:nth-child(16) {
  background-color: #5e4bb6;
}
.calbotinn li:nth-child(19) {
  background-color: #ed5700;
  flex-basis: 50%;
}
.header {
  padding: 15px 0;
  text-align: center;
}
.header h1 {
  color: #fff;
  font-weight: bold;
}
.header img {
  height: 35px;
}
.footer {
  position: absolute;
  bottom: 0;
  padding: 20px 0;
  text-align: center;
  color: #fff;
  width: 100%;
}
.footer p {
  margin: 0;
}
.footer a {
  color: #fff;
  font-weight: bold;
  text-decoration: none;
}

@media (max-width: 1200px) {
  body {
    padding: 0;
  }
  .section_div {padding: 30px 0;}
  .footer {
    position: static;
  }
}
